*,
*::before,
*::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-align: center;
    zoom: 0.845;
    font-size: 1.05em;
}
*::selection, .glitch{
    color: white;
    text-shadow:
        1px 1px 0 red,
        -1px -1px 0 blue,
        0 0 8px white,
        0 0 15px cyan;
}
body{
    background-image: url(https://jooinn.com/images/wooden-floor-texture-5.jpg);
    font-family: "Courier Prime", Verdana, Arial, sans-serif;
    background-color: hsla(0, 0%, 0%, 0.247);
    padding: 15px;
}
pre{
    font-family: "Courier Prime", Verdana, Arial, sans-serif;
}
body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
    z-index: -1;
}
.header{
    padding: 20px;
    color: white;
    text-shadow:
        1px 1px 0 green,
        -1px -1px 0 blue,
        0 0 8px white,
        0 0 15px blue;
    filter: blur(1px);
    background-size: cover;
    text-align: center;
    padding-top: 2em;
    font-size: 5em;
    animation: glitch 1.5s linear .5s 1;
    will-change: transform;
}
@keyframes glitch{
    4%{
        font-family: Arial, sans-serif;
        color: red;
        transform: translateX(0);

    }
    5.9%{
        transform: translateX(0);

    }
    6%{
        color: black;
        transform: translateX(20px);

    }
    6.5%{
        transform: translateX(0);
    }
    10%{
        font-family: Verdana, Arial, sans-serif;
        color: hsl(219, 100%, 50%);
        transform: translateX(-30px);
    }
    10.5%{
        transform: translateX(0);
    }
    11.9%{
        transform: translateX(0);

    }
    12%{
        color: black;
        transform: translateX(30px);

    }
    12.5%{
        transform: translateX(0);
    }
    15%{
        font-family: "Courier Prime", Arial, sans-serif;
        transform: translateX(0);

    }
    15.9%{
        transform: translateX(0);
    }
    16%{
        font-family: Arial, sans-serif;
        color: red;
        transform: translateX(-20px);
    }
    16.5%{
        transform: translateX(0);
    }
    18%{
        color: green;
        transform: translateX(0);

    }
    19.9%{
        transform: translateX(0);

    }
    20%{
        font-family: "Courier Prime", verdana, Arial, sans-serif;
        color: white;
        transform: translateX(-30px);

    }
    20.5%{
        transform: translateX(0);
    }
    47.9%{
        transform: translateX(0);
    }
    48%{
        color: white;
        transform: translateX(-20px);
    }
    48.5%{
        transform: translateX(0);
    }
    49%{
        color: black;
        transform: translateX(0);

    }
    49.9%{
        transform: translateX(0);

    }
    50%{
        font-family: Verdana, Arial, sans-serif;
        color: red;
        transform: translateX(0);

    }
    50.5%{
        transform: translateX(0);

    }
    52%{
        color: hsl(219, 100%, 50%);
        transform: translateX(0);

    }
    55.9%{
        transform: translateX(0);

    }
    55%{
        font-family: "Courier Prime", verdana, Arial, sans-serif;
        color: white;
        transform: translateX(20px);

    }
    55.5%{
        transform: translateX(0);
    }
    57%{
        color: green;
        transform: translateX(0);

    }
    58%{
        color: black;
        font-family: Arial, sans-serif;
        transform: translateX(0);

    }
    77.9%{
        transform: translateX(0);

    }
    78%{
        color: white;
        transform: translateX(-30px);
    }
    78.5%{
        transform: translateX(0);
    }
    79%{
        color: green;
        font-family: Verdana, Arial, sans-serif;
        transform: translateX(0);

    }
    79.5%{
        transform: translateX(0);
    }
    80%{
        color: black;
        transform: translateX(0);

    }
    81%{
        color: white;
        font-family: "Courier Prime", verdana, Arial, sans-serif;
        transform: translateX(0);



    }
    98%{
        color: black;
        transform: translateX(0);

    }
    99%{
        color: white;
        transform: translateX(0);

    }
}
#buttonCtn{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    width: 500px;
    margin: auto;
    padding-top: 2em;
}
#buttonCtn .btn{
    margin: 0;
}
.sellbtn{
    padding: 1em;
    margin: 3em;
    font-family: "Courier Prime", verdana, Arial, sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    border-radius: 5px;
    border: none;
    background-color: hsl(0, 0%, 0%);
    color: white;
    transition: transform 0.5s ease 0s;
    margin-top: 0;
    cursor: pointer;
    display: flex;
    justify-self: center;
}
.sellbtn:hover{
    transform: translateY(10px);
}
.sellbtn:hover::after{
    content: '?'
}

.btn{
    padding: 1em;
    margin: 3em;
    font-family: "Courier Prime", verdana, Arial, sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    border-radius: 5px;
    border: none;
    background-color: hsl(0, 0%, 0%);
    color: white;
    transition: transform 0.5s ease 0s;
    margin-top: 0;
    cursor: pointer;
    display: flex;
    justify-self: center;
}
#end-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}
a{
    text-decoration: none;
}
.btn:hover{
    transform: translateY(10px);
}
.btn:hover::after{
    content: '?'
}
#grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    gap: 2em;
    justify-content: space-evenly;
    align-items: space-evenly;
    padding: 100px 0;
}
.item{
    
    background: hsla(0, 0%, 0%, 0.7);
    border-radius: 5px;
    padding: 20px;
    cursor: pointer;
    font-size: 1em;
    transition: .25s;
}
.item:hover{
    transform: scale(1.1);
    box-shadow: 0 0 12.5px white;
}
.item:active{
    transform: scale(0.95);
    box-shadow: 0 0 0px black;
}
.item{
    
    background: hsla(0, 0%, 0%, 0.7);
    border-radius: 5px;
    padding: 20px;
    cursor: pointer;
    font-size: 1em;
    transition: .25s;
}
.item:hover{
    transform: scale(1.1);
    box-shadow: 0 0 12.5px white;
}
.item:active{
    transform: scale(0.95);
    box-shadow: 0 0 0px black;
}
#apples{
    
    background: hsla(0, 0%, 0%, 0.7);
    border-radius: 5px;
    padding: 20px;
    cursor: pointer;
    font-size: 1em;
    transition: .25s;
}
#apples:hover{
    transform: scale(1.1);
    box-shadow: 0 0 12.5px white;
}
#apples:active{
    transform: scale(0.95);
    box-shadow: 0 0 0px black;
}
#grid h4,
#grid h5{
    color: white;
    padding-bottom: 5px;
}
#grid img{
    height: 100px;
    border-radius: 5px;
}
h2, h3{
    text-align: center;
    color: white;
    padding-bottom: 11px;

}
#displayContainer, #grid{
    padding: 100px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    text-align: center;
}

#tutorial{
    background-color:hsla(0, 0%, 0%, 0.5);
    border-radius: 15px;
    color: white;
    padding: 30px;
    width: auto;
    display: flex;
    justify-self: center;
    align-self: center;
    margin: 100px;
}
#marketingImg, 

#container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100vh;
    width: 100%;
}

#marketingImg {
    z-index: 2;
    animation: celebrationComp 4s ease-out forwards;
}

.circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 200px;
    height: 200px;
    border: 5px solid white;
    border-radius: 50%;
    z-index: 1000;
    opacity: 1;
    animation: explosion 1s ease forwards;
}


@keyframes celebrationComp {
    0%{
        transform: scale(0) rotateX(0) rotateY(0);
    }
    20%{
        transform: scale(1) rotateX(180deg) rotateY(180deg);
    }
    40%{
        transform: scale(2) rotateX(0deg) rotateY(0deg);
    }
    60%{
        transform: scale(-3) rotateX(180deg) rotateY(180deg);
    }
    80%{
        transform: scale(4) rotateX(180deg) rotateY(180deg);
    }
    100%{
        transform: scale(0) rotateX(180deg) rotateY(-360deg) rotateZ(360deg);
    }


}

@keyframes explosion {
    0% {
        transform: translate(-50%, -50%) scale(0);
        opacity: 1;
    }
    50% {
        transform: translate(-50%, -50%) scale(10);
        opacity: 1;
        box-shadow: 0 0 40px 15px white;
    }
    100% {
        transform: translate(-50%, -50%) scale(10);
        opacity: 0;
        box-shadow: none;
    }
}
.event{
    text-transform: uppercase;
}
.eventHeader{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#eventBody{
    zoom: 1.2;
    height: 98vh;
    display: flex;
    justify-self: center;
    align-self: center;
    background-image: url(https://carnegiescience.edu/sites/default/files/styles/event_background/public/2025-03/Blackhole_SF.jpg?itok=UQ4ArpB1);
    background-color: rgba(255, 255, 255, 0.5);
    background-size: cover;
    background-position: center;
}

body.event #gameContainer {
    min-height: 100vh;
    border-radius: 10px;
}

body.event::before {
    content: "";
    position: fixed;
    inset: 0;
    background-color: rgba(180, 0, 0, 0);
    z-index: -1;
}

.event{
    background-image: url("https://jooinn.com/images/wooden-floor-texture-5.jpg");
    background-color: rgba(121, 0, 0, 0.61);
    background-size: cover;

    background-image: url(https://jooinn.com/images/wooden-floor-texture-5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: multiply;

    font-size: 1.2rem;
    font-weight: bolder;
}

input{
    margin: 30px;
    align-self: center;
    font-size: 2em;
    background-color: black;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 15px;
    font-family: 'Courier Prime', Courier, monospace;
    font-weight: bold;
}
input:focus{
    outline: none;
}
h1{
    font-size: 2.1em;
    color: white;
}
.event-mode {
    color: red;
    text-transform: uppercase;
}
.displays{
    width: 500px;
    margin-bottom: 15px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}
.rarity{
    display: none;
}
.ui{
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 120px); /* leave room for menu */
    background-color: hsla(0,0%,0%,0.5);

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-width: 750px;
    max-width: 1000px;
    border-bottom-right-radius: 15px;

    padding: 10px;
    z-index: 100;
}
#back{
    position: fixed;
    top: 0;
    right: 0;
    display: block;
    margin: 10px;
    margin-top: 110px;
    width: 75px;
    text-align: center;
}
#back:hover::after{
    content: '>';
}
#menu{
    display: flex;
    position: fixed;
    flex-direction: column;
    margin: 0;
    background-color:hsla(0, 0%, 0%, 0.5);
    border-radius: 10px;
    
}
#menu{
    position: fixed;
    right: 0;
    top: 25%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    margin: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 15px;
    padding-right: 15px;
}

.menuItem{
    width: 60px;
    height: 60px;      /* makes them square */
    padding: 0;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px solid rgba(48, 48, 48)
}

.menuItem:hover::after{
    content: '';
}

.btn.menuItem:hover{
    transform: none;
    border-color: white;
}
#menuBtn{
    position: fixed;
    right: 0;
    top: 82%;
    transform: translateY(-50%);
    margin-right: 25px;
}
#menuBtn:hover::after{
    content: ''
}
.window{
    background-color: hsla(0, 0%, 0%, 1);
    padding: 20px;
    margin: 20px;
    border-radius: 15px;
    height: 50vh;
    display: none;
    align-items: center;
    justify-content: center;
    justify-self: center;
    flex-direction: column;
    border-color: white;
    position: fixed;
    top: 25%;
    left: 0%;
    min-width: 600px;
    left: 50vw;
    right: 50vw;

    z-index: 1000;

    /* add this */
    position: fixed;
}
#leaderboardWindow, #workers{
    justify-content: center;
    align-items: center;
    height: none;
    min-height: 70vh;
    transform: translateY(-10vh);
}
#addToPerks .btn, #prestigeScreen .btn #settings .btn, #leaderboardWindow .btn, #restart .btn, #workers .btn{
    border: 2px solid rgb(85, 85, 85);
    margin: 30px;
}

.x{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background: rgba(255,0,0,.7);
    color: white;
    display: flex;
    justify-content:center;
    align-items:center;
    cursor:pointer;
    z-index:9999;
    border-radius: 5px;
    border: none;
}
#removePerkScreen:hover{
    cursor: pointer;
}
#settings p{
    color: white;
}
#settings{
    width: 80vw;
    align-items: top;
}
#ui h2{
    padding-right: 10px;
}
#maxBtn{
    margin-top: 10px;
    padding: 10px;
    margin-bottom: 10px;
}
#maxBtn:hover{
    translate: none;
    transform: none;
}
.maxBtnNo{
    background-color: green;
}
.maxBtnYes{
    background-color: red;
}
#uiBtn:hover::after{
    content: '';
}
#update{
    padding: 50px;
    background-color:hsl(0, 0%, 0%, 0.8);
    color: white;
    border-radius: 20px;
}
.updateHeader{
    padding: 15px;
}
#cash, #prestiges, #multiplier, #payPercent{
    padding: 15px;
}
.lastitem{
    height: 60vh;
    width: 150vh;
    font-size: 2em;
    display: flex;
    justify-self: center;
    align-self: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 25px;
}
@keyframes lessglitch {
    0% {
        transform: translateX(0);
    }
    33% {
        transform: translateX(20px);
    }
    34% {
        transform: translateX(0);
    }
    66% {
        transform: translateX(-20px);
    }
    67% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(0);
    }
}
#butterChickenHeader{
    animation: lessglitch 1s infinite steps(1, end);
}
.lasttwo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 2em;
    border-radius: 20px;
}
.leaderboardRow, #columns{
    color: white;
    background-color: black;
    min-width: 600px;
    display: flex;
    align-self: center;
    justify-self: center;
    align-content: center;
    justify-content: center;
    margin: 7.5px;
    border-radius: 10px;
    border: 2px solid white;
    width: 40vw;
}
#columns{
    border: none;
    padding: 0;
}
.leaderboardRow div, #columns div{
    display: grid;
    grid-template-columns: 1fr;
    width: 150px;
    text-align: left;
    margin: 5px;
    border-left: 2px solid white;
    padding: 5px;
    padding-left: 10px;
    padding-right: 15px;
    margin-left: 5px;
}
#columns div{
    border-left: none;
    padding: 0px;
    padding-left: 10px;
}
#columns .place{
    padding-left: 0px;
}
.leaderboardRow .place, #columns .place{
    text-align: left;
    width: 50px;
    border-left: none;
}
#workerAmountDisplay, #workerProfitDisplay{
    padding: 15px;
    color: white;
}
#alertDiv{
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    flex-direction: column-reverse;
    gap: 10px;

    width: fit-content;
    z-index: 9999;
    pointer-events: none;
}
.alert{
    color: white;
    background-color: rgba(0, 0, 0, 0.544);
    max-width: 500px;
    min-width: 250px;
    border-right: 2px solid white;
    padding: 15px;
    border-radius: 5px;
    margin: 5px;
    z-index: 9999999;
}

#confirmOverlay{
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999999999;
    overflow-y: auto !important;
    overflow-x: hidden;
}
.confirm {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 750px;
    min-width: 500px;
    height: 90vh;

    max-height: 90vh;
    overflow: hidden;

    color: white;
    background-color: rgba(0, 0, 0, 0.9);
    border-right: 2px solid white;
    padding: 15px;
    border-radius: 15px;

    display: flex;
    flex-direction: column;

    z-index: 9999999999;
    overflow-y: auto;
}
.confirm div{
    padding: 15px;
    padding-bottom: 0;
    white-space: pre-line;
}
.confirm button{
    margin: 20px;
}
.allowanddeny{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0px;
}
.allowBtn{
    background-color: rgb(0, 75, 0);
    font-size: 1em;
    max-height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.denyBtn{
    background-color: rgb(75, 0, 0);
    font-size: 1em;
    max-height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#dumbGrid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
#dumbGrid button{
    border-radius: 15px;
}
#codes input, #codes button{
    border: 2px solid rgb(90, 90, 90);
    border-radius: 20px;
}
#worldTwoCutseneBody {
    margin: 0;
    overflow: hidden;
    background: black;
}

#cutscene {
    position: fixed;
    inset: 0;
}

#backgroundAnimation {
    position: fixed;
    inset: 0;
    z-index: 1;
}

#backgroundAnimation svg {
    width: 100%;
    height: 100%;
}

.cutseneText {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: rgb(51, 51, 51);

    z-index: 2;
}

.domainName {
    color: white;
}
.domainName {
    color: white;
}

#domainsContainer {
    background-color: rgb(0, 0, 0, 0.5);
    border-radius: 15px;
    border-right: 2px solid white;

    width: 100%;
    box-sizing: border-box;
    padding: 30px;
}

#domainMap {
    display: grid;

    grid-template-columns: repeat(
        auto-fit,
        minmax(180px, 1fr)
    );

    gap: 10px;
    width: 100%;
}

.domain {
    color: white;
    box-sizing: border-box;
    background-color:rgb(14, 14, 14);
    padding: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    text-align: center;
    border-radius: 15px;
    min-height: 150px;
    border-right: 2px solid rgb(107, 107, 107);
    border-left: 2px solid rgb(48, 48, 48);
}

.domain:hover {
    background-color: rgb(0, 0, 0);
    transform: scale(1.03);
}

.domainName {
    font-size: 1.2em;
    font-weight: bold;
}

.marketAmount {
    color: white;
    margin-top: 8px;
    font-size: 0.9em;
}
.market {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    padding: 15px;
    z-index: 999999;
    box-sizing: border-box;
    overflow-y: auto;
}
.market::-webkit-scrollbar {
    display: none;
}
#Thegrid{
    display: grid;

    grid-template-columns: repeat(
        auto-fit,
        minmax(180px, 1fr)
    );

    gap: 15px;
    width: 100%;
    padding: 20px;
}
.box{
    min-height: 100px;
    border: 2px solid rgb(54, 54, 54);
    max-width: 200px;
    color: white;
    border-radius: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.box.clicked {
    background-color: rgba(0, 128, 0, 0.201);
    border-color: rgba(255, 255, 255, 0.358);
}
.box p{
    font-size: 0.75em;
}
.IDLabel{
    font-size: 0.75em;
    display: flex;
    justify-self: flex-end;
    align-self: flex-end;
    transform: translateY(10px);
}
#UIDiv{
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
    padding: 15px;
    border-bottom-right-radius: 15px;
    position: fixed;
    top: 0;
    left: 0;
}
#UIDiv p{
    font-size: 0.8em;
    color: white;
    padding: 15px;
    border-left: 2px solid rgba(255, 255, 255, 0.392);
}
.disabled{
    background-color: rgba(255, 0, 0, 0.266);
    border-color: rgba(255, 0, 0, 0.473)
}
.salaryDisplay{
    color: white;
    font-size: 1.5em;
}
.forgottenProtocolInput {
    display: inline-block;
    width: 50px;
    min-width: 50px;
    max-width: 50px;
    height: 60px;
    min-height: 60px;
    max-height: 60px;
    margin: 2.5px;
    padding: 5px;
    font-size: 1.5em;
    flex: 0 0 50px;
    box-sizing: border-box;
    border-radius: 5px;
    caret-color: transparent;
}
.forgottenProtocolInput:focus{
    border: 1px solid rgba(255, 255, 255, 0.363);
}
.riskInput{
    border: 2px solid white;
    font-size: 1em;
    width: 500px;
}
.submitBtn{
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 10px;
    text-align: center;
    width: 300px;
}
.submitBtn:hover::after{
    content: '';
}
#forgottenProtocolContainer{
    display: flex;
    flex-direction: column;
    margin-top: 45vh;
}

:root {
	--text-color: oklch(98.5% 0 0);
	--bg-color: oklch(14.5% 0 0);
	--surface-color: oklch(39.6% 0.141 25.723);

	--button-bg-color: oklch(40.8% 0.123 38.172);
	--button-hover-bg-color: oklch(47% 0.157 37.304);
	--button-active-bg-color: oklch(26.6% 0.079 36.259);
	--button-match-bg-color: oklch(20.5% 0 0);
	--button-match-active-bg-color: oklch(62.3% 0.214 259.815);
	--button-border-color: oklch(47% 0.157 37.304);
	--button-active-border-color: oklch(47% 0.157 37.304);
	--button-match-border-color: oklch(27.4% 0.006 286.033);
	--button-match-shine-color: oklch(64.6% 0.222 41.116);

	/* prettier-ignore */
	--ease-elastic: linear(0, 1.114 8.5%, 1.37 12.9%, 1.315 16.2%, 0.941 24%, 0.869 27.8%, 0.882 30.7%, 1.012 38.3%, 1.046 42.7%, 0.984, 1.006 72.2%, 1);
	--ease-out: cubic-bezier(0.25, 1, 0.5, 1);
	--ease-in-back: cubic-bezier(0.68, -0.6, 0.32, 1);
}

html,
body {
	height: 100%;
}


main {
	display: grid;
	gap: 2rem;
	inline-size: 85vmin;
	margin: auto;
}

.game {
	position: relative;
	container-type: inline-size;
    padding-top: 30vh;
}

.interface {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	padding-inline: 0.2rem;
	gap: 1rem;
	font-size: calc(0.6rem + 2vmin);
}

.interface-data {
	display: flex;
	align-items: center;
	gap: 0.3rem;
	line-height: 1;

	span {
		display: inline-block;
		position: relative;
		top: -0.1em;
		font-size: 1.8em;
		font-variant-numeric: tabular-nums;
		letter-spacing: -0.05em;
	}
}

.interface-data-best {
	display: none;
}

.interface-btn {
	margin-inline-start: auto;
}

button {
	appearance: none;
	font: inherit;
	line-height: 1;
	border: unset;
	color: inherit;
	padding: 0.5rem 1rem 0.6rem;
	border-radius: 0.3rem;
	background: var(--button-bg-color);
	border: 1px solid var(--button-border-color);
	cursor: pointer;
	touch-action: manipulation;

	&:focus-visible {
		outline: 1px dashed white;
		outline-offset: 2px;
	}

	&:not(:disabled):where(:hover, :focus-visible) {
		--button-bg-color: var(--button-hover-bg-color);
	}
}

.marquee {
    color: white;
    font-family: 'Courier Prime';
	--deg: -6deg;
	--duration: 2.2s;
	display: none;
	place-content: center;
	position: absolute;
	inset: -5%;
	width: 110%;
	z-index: 1;
	font-size: 26cqmin;
	line-height: 1;
	white-space: nowrap;
	transform: rotate(var(--deg)) skew(var(--deg));
	pointer-events: none;
	paint-order: stroke;
	-webkit-text-stroke: 6cqmin var(--bg-color);
	animation: marquee-reveal var(--duration) var(--ease-out),
		marquee-mask-position 3s var(--ease-out);
	mask-image: linear-gradient(to left, transparent 50%, black 75%);
	mask-position: 100% center;
	mask-size: 400% 100%;
}

.marquee.is-combo {
	--duration: 600ms;
	letter-spacing: -0.05em;
}

.marquee-text {
	animation: marquee-drift var(--duration) linear forwards;
}

.board {
	position: relative;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 2cqmin;
}

.card {
    z-index: 9999999;
	position: relative;
	display: grid;
	place-items: center;
	padding: 0;
	font-size: 6cqmin;
	aspect-ratio: 1;
	border-radius: 10cqmin;
	corner-shape: squircle;
	will-change: transform;
	transition: opacity 300ms var(--ease-out), background 100ms var(--ease-out);
	box-shadow: inset 0 0 1cqmin 0.5cqmin var(--button-bg-color),
		inset 0 0 0 1.5cqmin hsl(0 0% 0% / 0.1);

	&[aria-pressed="true"] {
        z-index: 10000000;
		--button-bg-color: var(--button-active-bg-color);
		--button-border-color: var(--button-active-border-color);
	}

	&:disabled {
		--button-bg-color: var(--button-match-bg-color);
		--button-border-color: var(--button-match-border-color);
		cursor: revert;
		color: currentcolor;
	}

	@supports not (corner-shape: squircle) {
		border-radius: 7cqmin;
	}
}

/* Card highlight effect */
.card::before {
	content: "";
	position: absolute;
	inset: 0;
	border-radius: inherit;
	corner-shape: inherit;
	box-shadow: inset 0 0 4cqmin 3cqmin var(--button-match-shine-color);
	opacity: 0;
}

.content {
	position: relative;
	margin: auto;
	pointer-events: none;
	user-select: none;
	transform: translateZ(0);
}

.prop {
    position: relative;
    transition: opacity 200ms 500ms var(--ease-out);
}
.face {
	display: inline-block;
	font-size: 2.5em;
}

.mask {
	display: inline-block;
	font-size: 6em;
}

.hand {
    font-size: 2.5em;
	--opacity-duration: 60ms;
	display: inline-block;
	opacity: 0;
	transform: scale(0.5);
	transition: transform 0s var(--opacity-duration) var(--ease-out),
		opacity var(--opacity-duration) var(--ease-out);
}

.card:is(:hover, :focus-visible, [aria-pressed="true"]) .hand {
	opacity: 1;
	transform: scale(1);
	transition: transform 200ms var(--ease-out), opacity 0s;
}
/* -------- OGRE -------- */
.ogre-mask {
    position: absolute;
    top: 100%;
    left: 50%;
    translate: -50% 0;
    transform-origin: bottom left;
    transition: rotate 500ms var(--ease-out);
}

.ogre-mask .mask {
    position: absolute;
    bottom: 100%;
    left: 50%;
    translate: -50% 40%;
}

.ogre-mask .hand {
    position: relative;
}

.card[aria-pressed="true"] .ogre-mask {
    rotate: 45deg;
    translate: 25px 25px;
    transition-duration: 500ms;
}

/* -------- GOBLIN -------- */
.goblin-mask {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 50%;
    translate: -50% 15%;
    transition: translate 300ms var(--ease-out);
}

.goblin-mask .mask {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -60%;
    z-index: 2;
}

.goblin-mask .hand {
    position: absolute;
    top: 60%;
    translate: 0 -50%;
    z-index: 3;
    transition: translate 300ms var(--ease-out);
}

.goblin-mask .hand:first-child {
    right: 60px;
    rotate: -10deg;
}

.goblin-mask .hand:last-child {
    left: 60px;
    rotate: 10deg;
}


/* -------- PULL DOWN -------- */

.card[aria-pressed="true"] .goblin-mask {
    translate: -50% 150px;
    transition-duration: 300ms;
    transition-timing-function: var(--ease-in-back);
}

/* -------- SKULL -------- */
.skull-mask {
    position: absolute;
    bottom: 0;
    left: 50%;
    translate: -50% -30%;
    transform-origin: bottom right;
    transition: 400ms var(--ease-out);
    transition-property: translate, rotate;
}

.skull-mask .mask {
    position: absolute;
    top: 30%;
    left: 50%;
    translate: -50% -20%;
}

.skull-mask .hand {
    position: relative;
    rotate: -10deg;
    translate: 110px -10px
}

.card[aria-pressed="true"] .skull-mask {
    rotate: 15deg;
    translate: 50px 100px;
    transition-duration: 200ms;
}


/* -------- MUSTACHE -------- */
.mustache-mask {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 50%;
    translate: -50% 15%;
    transition: 300ms var(--ease-out);
    transition-property: translate, rotate;
    /* transition-origin: bottom left; */
}

.mustache-mask .mask {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -60%;
}

.mustache-mask .hand {
    --offset: 92%;
    --rotate: 10deg;
    position: absolute;
    top: 60%;
    translate: -50px -140px;

    &:first-child {
        right: var(--offset);
        rotate: calc(var(--rotate) * -1);
    }

    &:last-child {
        left: var(--offset);
        rotate: var(--rotate);
    }
}

.card[aria-pressed="true"] .mustache-mask {
    translate: -10px -150px;
    rotate: -25deg;
    transition-duration: 300ms;
    transition-timing-function: var(--ease-in-back);
}

/* Card match state */
.card.is-matched {
	--duration: 1.2s;
	--delay: 50ms;
	animation: card-pop-up var(--duration) var(--delay) forwards,
		z-position 1s forwards;

	&::before {
		animation: match-shine calc(var(--duration) / 1.5) var(--delay)
			var(--ease-out) forwards;
	}

	.face,
	.prop {
		animation: pop-up var(--duration) var(--delay) forwards;
	}

	.face {
		--scale: 1;
	}

	.prop {
		--scale: 0.4;
		opacity: 0;
	}
}

/* Loading state */
.board.is-loading {
	cursor: wait;

	.card {
		opacity: 0;
		pointer-events: none;
		animation: load-card-scale-up 1.2s calc(var(--i, 1) * 0.033s)
				var(--ease-elastic) forwards,
			load-card-fade-in 400ms calc(var(--i, 1) * 0.033s) var(--ease-out) forwards;
	}
}

/* Waiting state */
.board.is-waiting {
	--shake-offset: 1%;
	pointer-events: none;

	.card:not([aria-pressed="true"]) {
		opacity: 0.25;
		transition-duration: 200ms;
	}

	.card[aria-pressed="true"]:not(.is-matched) {
		animation: shake 200ms 300ms ease infinite;
		/* transition-origin: bottom center; */
	}
}

/* Completed state */
.board.is-complete {
	pointer-events: none;

	.card,
	.face {
		animation: 1.5s calc(var(--i) * 0.1s + 800ms) infinite;
	}

	.card {
		overflow: visible;
		animation-name: card-jump;
	}

	.face {
		animation-name: face-jump;
	}
}

/* Animation keyframes */
@keyframes shake {
	25% {
		translate: calc(var(--shake-offset) * -1);
	}
	75% {
		translate: var(--shake-offset);
	}
}

@keyframes z-position {
	0%,
	99% {
		z-index: 1;
	}
	100% {
		z-index: 0;
	}
}

@keyframes card-pop-up {
	0% {
		animation-timing-function: ease-out;
	}
	10%,
	40% {
		scale: 1.5;
		/* prettier-ignore */
		animation-timing-function: linear(0, 1.114 8.5%, 1.37 12.9%, 1.315 16.2%, 0.941 24%, 0.869 27.8%, 0.882 30.7%, 1.012 38.3%, 1.046 42.7%, 0.984, 1.006 72.2%, 1);
	}
	100% {
		scale: 1;
	}
}

@keyframes pop-up {
	0% {
		animation-timing-function: ease-out;
	}
	25%,
	50% {
		scale: 1.2;
		/* prettier-ignore */
		animation-timing-function: linear(0, 1.114 8.5%, 1.37 12.9%, 1.315 16.2%, 0.941 24%, 0.869 27.8%, 0.882 30.7%, 1.012 38.3%, 1.046 42.7%, 0.984, 1.006 72.2%, 1);
	}
	100% {
		scale: var(--scale);
	}
}

@keyframes card-jump {
	0% {
		animation-timing-function: ease;
	}
	10% {
		translate: 0 -5%;
		/* prettier-ignore */
		animation-timing-function: linear(0, 1.114 8.5%, 1.37 12.9%, 1.315 16.2%, 0.941 24%, 0.869 27.8%, 0.882 30.7%, 1.012 38.3%, 1.046 42.7%, 0.984, 1.006 72.2%, 1);
	}
	75% {
		translate: 0 0;
	}
}

@keyframes face-jump {
	0% {
		animation-timing-function: ease;
	}
	15% {
		translate: 0 -120%;
		scale: 1.2;
		/* prettier-ignore */
		animation-timing-function: linear(0, 1.114 8.5%, 1.37 12.9%, 1.315 16.2%, 0.941 24%, 0.869 27.8%, 0.882 30.7%, 1.012 38.3%, 1.046 42.7%, 0.984, 1.006 72.2%, 1);
	}
	60% {
		scale: 1;
	}
	75% {
		translate: 0 0;
	}
}

@keyframes match-shine {
	0%,
	25% {
		opacity: 1;
	}
	to {
		opacity: 0;
		scale: 2;
	}
}

@keyframes marquee-drift {
	from {
		translate: 0 2%;
	}
	to {
		translate: 0 -5%;
	}
}

@keyframes marquee-reveal {
	0%,
	80% {
		scale: 1;
	}
	100% {
		scale: 0.98;
	}
	0%,
	100% {
		opacity: 0;
	}
	10%,
	80% {
		opacity: 1;
	}
}

@keyframes marquee-mask-position {
	30%,
	100% {
		mask-position: 0% center;
	}
}

@keyframes load-card-scale-up {
	from {
		scale: 0.9;
	}
	to {
		scale: 1;
	}
}

@keyframes load-card-fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
